@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

@media screen and (max-width: 768px) {
  .hello {
    display: none;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(139, 206, 245, 0.893),
    hsl(0, 0%, 100%)
  ) !important;
}
/* bg-gradient-to-r from-[#C1EFFF] to-zinc-50 */

@media screen and (min-width: 1024px) {
  .smallContainer {
    display: none;
  }
}
